{% if form %}
  <form action='/stage/1' method='post'>
    <div class="form-group">
      <label for='player_name'>Enter Your Name:</label>
      <input name='player_name' type='text' class='form-control'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
{% endif %}
