<div class="inventory">
    <h2>Inventory</h2>

    {% for inventory in inventories %}
        <h3>{{ inventory.getName }}</h3>
        <p>{{ inventory.getDescription }}</p>
    {% endfor %}

    <h3>Wallet:</h3>
    <h4>${{ money }}</h4>
</div>
