<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>

    <div class="container">

      <h1>Burrito Adventure</h1>

      {% include '/includes/form.html.twig' %}
<!--
      <form action="/player_info" method="get">
        <button type="submit" name="button">START NEW GAME!</button>
      </form> -->

    </div>
  </body>
</html>
