<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stage {{ stage.getId }}</title>
    </head>
    <body>
        <h1>Hi, {{ player.getName }}!</h1>
        <h3>You are in the {{ stage.getName }}</h3>
        <p>
            {{description}}
        </p>
    </body>
</html>
