<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
    </head>
    <body>
        {% include '/includes/message.html.twig' %}
        <div class="col-md-8 game_column">


            <h1>Hi, {{ player.getName }}!</h1>
            <div class="game_div">
                <h3>You are {{ stage.getName }}</h3>
                <p>
                    {{description}}
                </p>

                {% include '/stages/' ~ stage.getId ~ '.html.twig' %}
            </div>

        </div>
        <div class="col-md-4 inventory_column">
            {% include '/includes/inventory.html.twig' %}
        </div>

        {% include '/includes/footer.html.twig' %}
    </body>
</html>
