<form action="/stage/102" method="get">
    <button type="submit" class="btn gamebtn">GO TO KITCHEN</button>
</form>
{% if money == 1 or money == 9 or money == 0 or money == 8 %}
    <form action="/clean_room" method="post">
        <button type="submit" class="btn gamebtn">CLEAN ROOM</button>
    </form>
{% endif %}
{% if snooze > 3 %}
    <form action="/stage/111" method="get">
        <button type="submit" class="btn gamebtn">SNOOZE 20 MINUTES</button>
    </form>
{% elseif snooze <= 3 %}
    <form action="/snooze" method="post">
        <button type="submit" class="btn gamebtn">SNOOZE 20 MINUTES</button>
    </form>
{% endif %}
