{% if money == 1 or money == 9 or money == 0 or money == 8 %}
    <form action="/clean_room" method="post">
        <button type="submit" class="btn btn-info">Clean Your Room</button>
    </form>
    <form action="/snooze" method="post">
        <button type="submit" class="btn btn-info">Snooze for 9 Minutes</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">Go To Kitchen</button>
    </form>
{% else %}
    <form action="/snooze" method="post">
        <button type="submit" class="btn btn-info">Snooze for 9 Minutes</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">Go To Kitchen</button>
    </form>
{% endif %}
