{% if has_sunscreen == 0 and has_keys == 0 %}
    <p>Your KEYS, PHONE, and SUNSCREEN are sitting on the counter.   WHAT DO?</p>
{% elseif has_sunscreen == 0 and has_keys == 1 %}
    <p>Your PHONE, and SUNSCREEN are sitting on the counter.   WHAT DO?</p>
{% elseif has_sunscreen == 1 and has_keys == 0 %}
    <p>Your KEYS and PHONE are sitting on the counter.   WHAT DO?</p>
{% elseif has_sunscreen == 1 and has_keys ==1 %}
    <p>Your PHONE is sitting on the counter.   WHAT DO?</p>
{% endif %}

    {% if has_sunscreen == 0 %}
    <form action="/get_sunscreen" method="post">
        <button type="submit" class="btn btn gamebtn">GET SUNSCREEN</button>
    </form>

    {% endif %}

    {% if has_keys == 0 %}
    <form action="/get_keys" method="post">
        <button type="submit" class="btn gamebtn">GET KEYS</button>
    </form>

    {% endif %}

    <form action="/stage/107" method="get">
        <button type="submit" class="btn gamebtn">USE PHONE</button>
    </form>
    <form action="/stage/103" method="get">
        <button type="submit" class="btn gamebtn">Look in Fridge</button>
    </form>
    <form action="/stage/104" method="get">
        <button type="submit" class="btn gamebtn">Go To Garage</button>
    </form>
    <form action="/stage/105" method="get">
        <button type="submit" class="btn gamebtn">Go Outside</button>
    </form>
    <form action="/stage/101" method="get">
        <button type="submit" class="btn gamebtn">Go To Bedroom</button>
    </form>
