
    <form action="/take_burrito" method="post">
        <button type="submit" class="btn btn-info">TAKE FROZEN BURRITO</button>
    </form>
    <form action="/stage/106" method="get">
        <button type="submit" class="btn btn-info">EAT FROZEN BURRITO</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">CLOSE FRIDGE</button>
    </form>
