
    <form action="/stage/301" method="get">
        <button type="submit" class="btn btn-info">RIDE BIKE</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">GO TO KITCHEN</button>
    </form>
