
    <form action="/stage/401" method="get">
        <button type="submit" class="btn gamebtn">WALK TO BURRITO TRUCK</button>
    </form>
    <form action="/stage/501" method="get">
        <button type="submit" class="btn gamebtn">WALK TO WANDA'S HOUSE</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn gamebtn">GO BACK TO KITCHEN</button>
    </form>
