<!-- TOTALLY NOT DONE OR FUNCTIONING -->
<form action="/stage/108" method="get">
    <button type="submit" class="btn btn-info">Call and Order A Burrito NO MONEY NO FROZEN BURRITO</button>
</form>
<form action="/stage/109" method="get">
    <button type="submit" class="btn btn-info">Call and Order A Burrito NO MONEY YES FROZEN BURRITO</button>
</form>
<form action="/stage/110" method="get">
    <button type="submit" class="btn btn-info">Call and Order A Burrito YES MONEY YES FROZEN BURRITO</button>
</form>
