
    <form action="/get_sunscreen" method="post">
        <button type="submit" name="button">GET SUNSCREEN</button>
    </form>
    <form action="/get_keys" method="post">
        <button type="submit" name="button">GET KEYS</button>
    </form>
    <form action="/get_phone" method="post">
        <button type="submit" name="button">GET PHONE</button>
    </form>
    <form action="/stage/3" method="get">
        <button type="submit" name="button">Go To Garage</button>
    </form>
    <form action="/stage/4" method="get">
        <button type="submit" name="button">Go Outside</button>
    </form>
    <form action="/stage/5" method="get">
        <button type="submit" name="button">Look in Fridge</button>
    </form>
