
    <form action="/ride_bike" method="post">
        <button type="submit" name="button">RIDE BIKE</button>
    </form>
    <form action="/stage/2" method="post">
        <button type="submit" name="button">GO TO KITCHEN</button>
    </form>
