
    <form action="/stage/601" method="get">
        <button type="submit" class="btn gamebtn">BIKE TO SUPERMARKET AND TACO BELL</button>
    </form>
    <form action="/stage/401" method="get">
        <button type="submit" class="btn gamebtn">BIKE TO THE BURRITO TRUCK</button>
    </form>
    <form action="/stage/501" method="get">
        <button type="submit" class="btn gamebtn">BIKE TO YOUR BUDDY'S HOUSE</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn gamebtn">GO HOME</button>
    </form>
