{% if has_keys == 1 %}

    <form action="/stage/301" method="get">
        <button type="submit" class="btn btn-info">RIDE BIKE</button>
    </form>

{% elseif has_keys == 0 %}

    <form action="/stage/302" method="get">
        <button type="submit" class="btn btn-info">RIDE BIKE</button>
    </form>

{% endif %}
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">GO TO KITCHEN</button>
    </form>
