
    <form action="/stage/402" method="get">
        <button type="submit" class="btn btn-info">ASK FOR BURRITO</button>
    </form>
    <form action="/stage/407" method="get">
        <button type="submit" class="btn btn-info">TRY TO TAKE HIS BURRITO</button>
    </form>
    <form action="/stage/501" method="get">
        <button type="submit" class="btn btn-info">BIKE TO YOUR BUDDY'S HOUSE</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">GO HOME</button>
    </form>
