{% if money > 9 %}

    <form action="/stage/408" method="get">
        <button type="submit" class="btn gamebtn">PAY FOR BURRITO</button>
    </form>

{% else %}
    <!-- PLACEHOLDER -->
    <form action="/stage/403" method="get">
        <button type="submit" class="btn gamebtn">PAY FOR BURRITO</button>
    </form>

    {% endif %}

    <!-- END PLACEHOLDER -->
    <form action="/stage/407" method="get">
        <button type="submit" class="btn gamebtn">TRY TO TAKE HIS BURRITO</button>
    </form>
    <form action="/stage/501" method="get">
        <button type="submit" class="btn gamebtn">BIKE TO YOUR BUDDY'S HOUSE</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn gamebtn">GO HOME</button>
    </form>
