
    <form action="/stage/405" method="get">
        <button type="submit" class="btn gamebtn">CALL AMBULANCE</button>
    </form>
    <!-- END PLACEHOLDER -->
    <form action="/stage/404" method="get">
        <button type="submit" class="btn gamebtn">TRY TO TAKE HIS BURRITO</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn gamebtn">CUT AND RUN</button>
    </form>
