
    <form action="/stage/502" method="get">
        <button type="submit" class="btn btn-info">PICK HER LOCK</button>
    </form>
    <!-- END PLACEHOLDER -->
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">GO HOME. FORGET WANDA.</button>
    </form>
