{% if has_bumhelp == 0 %}

    <form action="/help_bum" method="post">
        <button type="submit" class="btn gamebtn">HELP HIM</button>
    </form>

    <form action="/stage/603" method="get">
        <button type="submit" class="btn gamebtn">DON'T HELP HIM</button>
    </form>

{% else %}

    <form action="/stage/604" method="get">
        <button type="submit" class="btn gamebtn">OH WAIT NEVERMIND, THE BUM DISAPPEARED</button>
    </form>

{% endif %}


    <form action="/stage/102" method="get">
        <button type="submit" class="btn gamebtn">GO HOME</button>
    </form>
