
<form action="/stage/604" method="get">
    <button type="submit" class="btn gamebtn">CONTINUE TOWARDS THE SUPERMARKET AND TACO BELL</button>
</form>
<form action="/stage/102" method="get">
    <button type="submit" class="btn gamebtn">GO HOME</button>
</form>
