
    <form action="/stage/602" method="get">
        <button type="submit" class="btn btn-info">HELP HIM</button>
    </form>
    <form action="/stage/603" method="get">
        <button type="submit" class="btn btn-info">DON'T HELP HIM</button>
    </form>
