
    <form action="/stage/701" method="get">
        <button type="submit" class="btn btn-info">GO TO TACO BELL WITH $5</button>
    </form>
    <form action="/stage/702" method="get">
        <button type="submit" class="btn btn-info">GO TO TACO BELL WITHOUT $5</button>
    </form>
    <form action="/stage/606" method="get">
        <button type="submit" class="btn btn-info">GO TO SUPERMARKET</button>
    </form>
    <form action="/stage/102" method="get">
        <button type="submit" class="btn btn-info">GO HOME</button>
    </form>
