
{% if has_sunscreen == 1 and has_cactus == 1 and has_bumhelp == 1 %}
    <form action="/stage/610" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID WITH SUNSCREEN, CACTUS, AND HELPING THE BUM</button>
    </form>

{% elseif has_sunscreen == 1 and has_cactus == 1 and has_bumhelp == 0 %}

    <form action="/stage/609" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID WITH ITEMS BUT NOT HELPING THE BUM</button>
    </form>

{% elseif has_sunscreen == 0 and has_cactus == 0 and has_bumhelp == 0 %}

    <form action="/stage/607" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID without sunscreen cactus combo nor helping bum</button>
    </form>

{% elseif has_sunscreen == 1 and has_cactus == 0 and has_bumhelp == 0 %}

    <form action="/stage/607" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID without sunscreen cactus combo nor helping bum</button>
    </form>

{% elseif has_sunscreen == 0 and has_cactus == 1 and has_bumhelp == 0 %}

    <form action="/stage/607" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID without sunscreen cactus combo nor helping bum</button>
    </form>

{% elseif has_sunscreen == 0 and has_cactus == 0 and has_bumhelp == 1 %}

    <form action="/stage/608" method="get">
        <button type="submit" class="btn btn-info">SHOVE KID WITH HELPING THE BUM BUT WITHOUT BOTH ITEMS</button>
    </form>

{% endif %}

    <form action="/stage/604" method="get">
        <button type="submit" class="btn btn-info">LEAVE SUPERMARKET</button>
    </form>
