body h1, h2, h3, h4, h5 {
    font-family: 'VT323', monospace;

}

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: black;
    color: green;
}

.title {
    font-size: 60px;
}

.inventory {
    border: 2px solid green;
    border-radius: 5px;
    padding: 15px;
    margin-top: 70px;
    background-color: black;
    color: green;
}

.inventory h2 {
    margin-top: 0px;
}

.game_div {
    background-color: black;
    color: green;
    padding: 15px;
    height: 600px;
    border: 2px green solid;
    border-radius: 5px;
    max-height: 800px;
}

.gamebtn {
    background-color: black;
    border: green 2px solid;
    margin: 3px;
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: green;
}

.gamebtn:hover {
    color: black;
    background-color: green;
}

.alert-info {
    background-color: black !important;
    color: green !important;
    border: 2px green solid !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: black;
    text-align: center;;
}

input {
    background-color: black !important;
    color: green !important;
    border: 2px solid green !important;
}

input:focus {
    background-color: black !important;
    color: green !important;
    border: 2px solid green !important;
    outline: none !important;
}

.inventory_icon {
    height: 75px;
    float: left;
    margin-right: 10px;
}

::selection {
    background-color: green;
    color: black;
}
